<div class="col-sm-3 sidenav">
  <h4>My Blog</h4>
  <ul class="nav nav-pills nav-stacked" id="menu">
    <li class="active"><a href="#section1"><i class="glyphicon glyphicon-home"></i> <span class="aaa"> Home</span></a></li>
    <li><a href="#section2"><i class="glyphicon glyphicon-baby-formula"></i> <span class="aaa"> Friends</span></a></li>
    <li><a href="#section3"><i class="glyphicon glyphicon-heart-empty"></i> <span class="aaa"> Family</span></a></li>
    <li><a href="#section3"><i class="glyphicon glyphicon-picture"></i> <span class="aaa"> Photos</span></a></li>
    <li><a id="toggle" href="#section4"><i class="glyphicon glyphicon-backward"></i> <span class="aaa"> Toggle</span></a></li>
  </ul>
</div>